In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("IndiaAffectedWaterQualityAreas.csv", encoding='latin1')

In [4]:
df.head()

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year
0,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),VANTHADA(014 ),VANTHADA(0404410014010400),Salinity,1/4/2009
1,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),PANDAVULAPALEM(022 ),PANDAVULAPALEM(0404410022010400),Fluoride,1/4/2009
2,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),G. KOTHURU(023 ),G. KOTHURU(0404410023010600),Salinity,1/4/2009
3,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),GAJJANAPUDI(029 ),GAJJANAPUDI(0404410029010600),Salinity,1/4/2009
4,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),CHINTALURU(10),CHINTALURU(028 ),CHINTALURU(0404410028011000),Salinity,1/4/2009

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550242 entries, 0 to 550241
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State Name         550242 non-null  object
 1   District Name      550242 non-null  object
 2   Block Name         550242 non-null  object
 3   Panchayat Name     550242 non-null  object
 4   Village Name       550242 non-null  object
 5   Habitation Name    550242 non-null  object
 6   Quality Parameter  550242 non-null  object
 7   Year               550242 non-null  object
dtypes: object(8)
memory usage: 33.6+ MB

In [41]:
df.drop("Year",axis=1)

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter
0,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),VANTHADA(014 ),VANTHADA(0404410014010400),4
1,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),PANDAVULAPALEM(022 ),PANDAVULAPALEM(0404410022010400),1
2,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),G. KOTHURU(023 ),G. KOTHURU(0404410023010600),4
3,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),GAJJANAPUDI(029 ),GAJJANAPUDI(0404410029010600),4
4,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),CHINTALURU(10),CHINTALURU(028 ),CHINTALURU(0404410028011000),4
...,...,...,...,...,...,...,...
550237,ASSAM,JORHAT,KALIAPANI,CHINTAMONIGARH,GHARACHOWA HABI GAON,2 NO. BORA - SAIKIA CHUCK,2
550238,ASSAM,JORHAT,KALIAPANI,CHINTAMONIGARH,GHARPHALIA GAON,GHARPHOLIA CHUCK,2
550239,ASSAM,JORHAT,KALIAPANI,TAMULICHIGA GAON,SIMALUGURI GAON,SIMALUGURI BAMUN CHUCK,2
550240,ASSAM,JORHAT,KALIAPANI,TAMULICHIGA GAON,SIMALUGURI GAON,POURUA CHANGMI CHUCK,2
550241,ASSAM,JORHAT,KALIAPANI,TAMULICHIGA GAON,SIMALUGURI GAON,TATALIGURI KOIBORTA CHUCK,2

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [43]:
from sklearn.preprocessing import LabelEncoder

# Use LabelEncoder for all categorical columns
label_encoder = LabelEncoder()
for column in ['State Name', 'District Name', 'Block Name', 'Panchayat Name', 'Village Name',"Habitation Name"]:
    X[column] = label_encoder.fit_transform(X[column])

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X

C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])
C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])
C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])
C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])
C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])
C:\Users\hites\AppData\Local\Temp\ipykernel_8864\3646268139.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = label_encoder.fit_transform(X[column])

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name
0,0,132,2710,12598,80484,145215
1,0,132,2710,12598,61679,110484
2,0,132,2710,11601,25612,45556
3,0,132,2710,11601,26006,46285
4,0,132,2710,8192,18440,31829
...,...,...,...,...,...,...
550237,2,211,1503,8193,27328,554
550238,2,211,1503,8193,27356,48777
550239,2,211,1503,34775,73186,132085
550240,2,211,1503,34775,73186,115469
550241,2,211,1503,34775,73186,138623

In [44]:

# Select features and target variable
X = df[['State Name', 'District Name', 'Block Name', 'Panchayat Name', 'Village Name', 'Habitation Name', 'Year']]
y = df['Quality Parameter']

In [45]:
# Initialize and train the model (Random Forest classifier in this example)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [46]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [49]:

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9682050722859817

In [50]:
classification_rep = classification_report(y_test, y_pred)
classification_rep

'              precision    recall  f1-score   support\n\n           0       0.94      0.93      0.94      5113\n           1       0.95      0.95      0.95     20138\n           2       0.98      0.98      0.98     60762\n           3       0.82      0.81      0.81      2406\n           4       0.97      0.96      0.97     21630\n\n    accuracy                           0.97    110049\n   macro avg       0.93      0.93      0.93    110049\nweighted avg       0.97      0.97      0.97    110049\n'